/* Colour Scheme:  Support Us (#0071B8) Turqoise (#1380A8)  Green (#7CA406)  Purple (#894686)  Yellow (#C3B808) */

body {
	font:62.5%/1.5 Verdana, Tahoma, sans-serif;
	color:#424242
}
/*============================ LINKS =========================*/

a.external {
	padding-right:15px;
}
/* Home page links */
#home #gardens-panel a {
	color:#DDF86A
}
#home a.morelinks {
	color:#DDF86A;
	text-decoration:none;
	position:absolute;
	right:5px;
	top:17px;
	text-indent:0;
	font-weight:normal;
	font-size:0.9em
}
#upcoming-events li a {
	text-decoration:none;
	color:#3E580D
}
#upcoming-events li a:hover, #home a.morelinks:hover {
	text-decoration:underline
}
/* Section links */
#home a {
	color:#476531
}
#support-us a {
	color:#005991
}
#science a {
	color:#BA2727
}
#education a {
	color:#9F48A3
}
#about-us a {
	color:#476532
}
#whats-on a {
	color:#D36805
}
#whats-on table#calendar th a {
	color:#ffffff
}
#the-gardens a {
	color:#557815
}
#buy-online a {
	color:#557815
}
/* Site-wide links */
#main-content a:visited {
	color:#666
}
a:hover {
	text-decoration:none
}
/* Section external links */
#the-gardens a.external {
	background: url(../img/external_g.gif) right bottom no-repeat
}
#whats-on a.external {
	background: url(../img/external_o.gif) right bottom no-repeat
}
#about-us a.external {
	background: url(../img/external_g2.gif) right bottom no-repeat
}
#support-us a.external {
	background: url(../img/external_b.gif) right bottom no-repeat
}
#education a.external {
	background: url(../img/external_p.gif) right bottom no-repeat
}
#science a.external {
	background: url(../img/external.gif) right bottom no-repeat
}
#global-nav a {
	color:#fff;
	text-decoration:none;
}
#global-nav a:hover {
	color:#000
}
#main-nav a {
	text-decoration:none;
	font-size:1.2em;
	color:#000;
}
#main-nav a:hover, #main-nav li.active a {
	color:#fff
}
/* Section Main Nav states */
#the-gardens #main-nav a:hover, #the-gardens #main-nav li.active a, #main-nav li#main_nav2 a:hover {
	background:#638C19
}
#support-us #main-nav a:hover, #support-us #main-nav li.active a, #main-nav li#main_nav71 a:hover {
	background:#0071B8
}
#science #main-nav a:hover, #science #main-nav li.active a, #main-nav li#main_nav99 a:hover {
	background:#BA2727
}
#education #main-nav a:hover, #education #main-nav li.active a, #main-nav li#main_nav78 a:hover {
	background:#9F48A3
}
#about-us #main-nav a:hover, #about-us #main-nav li.active a, #main-nav li#main_nav13 a:hover {
	background:#476532;
}
#whats-on #main-nav a:hover, #whats-on #main-nav li.active a, #main-nav li#main_nav8 a:hover {
	background:#D36805;
}
#buy-online #main-nav a:hover, #buy-online #main-nav li.active a, #main-nav li#main_nav803 a:hover {
	background:#638C19
}
#b-top {
	text-align:right;
	font-weight:bold
}
/*============================ HEADINGS =========================*/

#main h1 {
	font:2.4em/1.2 "Century Gothic", "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0.4em 0 0 0
}
#home #main-panels h1 {
	margin-bottom:0.2em;
	margin-top:0.5em;
	font-size:1.4em;
	line-height:1.3
}
#main-content h2, #main h2, #main-panels h2 {
	font-size:1.4em;
	margin:1.5em 0 0.4em 0;
}
#main-content h2 {
	line-height:1.2
}
#main-content h3 {
	font-size:1.2em;
	margin:1.5em 0 0.5em 0;
	line-height:1.2
}
#main-panels h3, #sub-panels h3 {
	font-size:1.2em;
	margin:0 0 0.5em 0
}
#container #main #sub-nav h2 {
	color:#fff;
	margin:0 0 3px 15px;
	font-size:1.2em;
}
#main #main-content .supporting {
	margin-top:-0.3em;
	color:#888;
}
.cont-box h3 {
	font-size:1.2em;
	padding:10px 10px 0 10px
}
.cont-box h4 {
	font-size:1.1em;
	padding:5px 10px 0 10px
}
/* Home page headings */
#home #main-panels h2 {
	margin-top:0
}
#main-panels h2#what-o, #main-panels h2#l-news {
	text-indent:-5000px;
	height:42px;
	width:373px;
	font-size:1.4em;
	border-bottom:1px solid #fff;
	margin:0;
	position:relative
}
#home #news-events h2#what-o {
	background:url(../img/whatson-h.gif) left center no-repeat;
}
#home #news-events h2#l-news {
	background:url(../img/news-h.gif) left center no-repeat;
	border-top:1px solid #fff;
	position:relative
}
#home #main-panels h3#oldnews-h {
	border-top:1px solid #fff;
	font-size:12px;
	background:url(../img/morenews-h.jpg) left top no-repeat;
	color:#fff;
	clear:both;
}
#home .post-h {
	margin:0
}
#home #main-panels li .post-h {
	margin:0 0 0.1em 0;
	font-size:1.0em
}
/*Section main content headings*/
#home #main-panels h1, #home #main-panels h2, #home #main-panels h3, #home #sub-panels h3 {
	color:#476531
}
#support-us #main h1, #support-us #main-content h2, #support-us #main h2, #support-us #main-content h3, #support-us .cont-box h3 {
	color:#005991
}
#science #main h1, #science #main-content h2, #science #main h2, #science #main-content h3, #science .cont-box h3 {
	color:#BA2727
}
#education #main h1, #education #main-content h2, #education #main h2, #education #main-content h3, #education .cont-box h3 {
	color:#9F48A3
}
#about-us #main h1, #about-us #main-content h2, #about-us #main h2, #about-us #main-content h3, #about-us .cont-box h3 {
	color:#476532
}
#whats-on #main h1, #whats-on #main-content h2, #whats-on #main h2, #whats-on #main-content h3, #whats-on .cont-box h3 {
	color:#D36805
}
#the-gardens #main h1, #the-gardens #main-content h2, #the-gardens #main h2, #the-gardens #main-content h3, #the-gardens .cont-box h3 {
	color:#557815
}
/* News */
#main-content h2.post-h {
	margin-bottom:0
}
/*Section sub content heading backgrounds */
#the-gardens .cont-box h3 {
	background:url(../img/gardenspanel_tl.gif) left top no-repeat;
}
#about-us .cont-box h3 {
	background:url(../img/aboutpanel_tl.gif) left top no-repeat;
}
#whatson .cont-box h3 {
	background:url(../img/whatsonpanel_tl.gif) left top no-repeat;
}
#support-us .cont-box h3 {
	background:url(../img/supportpanel_tl.gif) left top no-repeat;
}
#education .cont-box h3 {
	background:url(../img/educationpanel_tl.gif) left top no-repeat;
}
#science .cont-box h3 {
	background:url(../img/sciencepanel_tl.gif) left top no-repeat;
}
/* Section Landing Pages */
#main-content #intropanel h2 {
	color:#fff;
	padding:5px 15px 0 15px;
	margin-top:15px
}
#main-content #sectionpanel h3 {
	margin-top:0px;
	padding:15px 15px 0 15px;
}
#whats-on #main-content #sectionpanel h3 {
	margin:0px;
	padding:5px 0 5px 15px;
	background:#F5C394;
	color:#000;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	width:273px
}
#whats-on #main-content #sectionpanel #sub-panel h3 {
	border-right:0;
	width:auto;
}
#main-content #sectionpanel #sub-panel h3 {
	margin-top:0px;
	padding:5px 10px 5px 15px;
}
#main-content .bottompanel h3 {
	margin-top:2px
}
/* garden google maps */
#google-map h4 {
	font-weight:bold;
	font-size:13px;
}
#the-gardens #main #google-map h4 {
	color:#557815
}
/*============================ SUB NAVIGATION =========================*/

#sub-nav li a {
	font-size:1.1em;
	color:#000;
	text-decoration:none;
	display:block;
	width:155px;
	padding:3px 5px 3px 15px;
}
#main #sub-nav li ul li a {
	padding-left:25px;
	width:145px;
	color:#000
}
#main #sub-nav ul li a:hover, #sub-nav ul li.active a, #main #sub-nav li li.active a {
	color:#fff
}
#main #sub-nav li.backlink1 a, #main #sub-nav li.backlink2 a, #main #sub-nav li.backlink3 a, #main #sub-nav li.backlink4 a, #main #sub-nav li.backlink5 a {
	background-color:#666;
	color:#fff;
}
#main #sub-nav li.backlink1 a:hover, #main #sub-nav li.backlink2 a:hover, #main #sub-nav li.backlink3 a:hover, #main #sub-nav li.backlink4 a:hover, #main #sub-nav li.backlink5 a:hover {
	background-color:#333;
	color:#fff;
}
#main #sub-nav li.backlink1 a {
	background-image:url(../img/back.gif);
	background-position:5px 8px;
	background-repeat:no-repeat;
}
#main #sub-nav li.backlink2 a {
	background-image:url(../img/back2.gif);
	background-position:5px 8px;
	background-repeat:no-repeat;
	padding-left:20px;
	width:150px
}
#main #sub-nav li.backlink3 a {
	background-image:url(../img/back3.gif);
	background-position:5px 8px;
	background-repeat:no-repeat;
	padding-left:25px;
	width:145px
}
#main #sub-nav li.backlink4 a {
	background-image:url(../img/back4.gif);
	background-position:5px 8px;
	background-repeat:no-repeat;
	padding-left:30px;
	width:140px
}
#main #sub-nav li.backlink5 a {
	background-image:url(../img/back5.gif);
	background-position:5px 8px;
	background-repeat:no-repeat;
	padding-left:35px;
	width:135px
}
/* Section colour-coded links */
#support-us #sub-nav a {
	background-color:#C3E0F2
}
#support-us #main #sub-nav li ul li a {
	background-color:#DDEFFA
}
#support-us #main #sub-nav a:hover, #support-us #sub-nav li.active a, #support-us #main #sub-nav li li.active a {
	background-color:#0071B8;
}
#science #sub-nav a {
	background-color:#EED6D6
}
#science #main #sub-nav li ul li a {
	background-color:#F9EFEF
}
#science #main #sub-nav a:hover, #science #sub-nav li.active a, #science #main #sub-nav li li.active a {
	background-color:#BA2727
}
#education #sub-nav a {
	background-color:#F1DBF4
}
#education #main #sub-nav li ul li a {
	background-color:#F5EDF6
}
#education #main #sub-nav a:hover, #education #sub-nav li.active a, #education #main #sub-nav li li.active a {
	background-color:#9F48A3
}
#the-gardens #sub-nav a {
	background-color:#DCE5AA
}
#the-gardens #main #sub-nav li ul li a {
	background-color:#EBF0D1
}
#the-gardens #main #sub-nav a:hover, #the-gardens #sub-nav li.active a, #the-gardens #main #sub-nav li li.active a {
	background-color:#638C19
}
#about-us #sub-nav a {
	background-color:#C7DABA
}
#about-us #main #sub-nav li ul li a {
	background-color:#E6EDE1
}
#about-us #main #sub-nav a:hover, #about-us #sub-nav li.active a, #about-us #main #sub-nav li li.active a {
	background-color:#476532
}
#whats-on #sub-nav a {
	background-color:#E9B788
}
#whats-on #main #sub-nav li ul li a {
	background-color:#EED5BD
}
#whats-on #main #sub-nav a:hover, #whats-on #sub-nav li.active a, #whats-on #main #sub-nav li li.active a {
	background-color:#D36805
}
/*============================ DEEP NAVIGATION =========================*/

.deep-nav li {
	font-size:1.1em
}
.deep-nav li li {
	font-size:1.0em;
}
.deep-nav li a {
	text-decoration:none;
	display:block;
	padding:3px 5px 3px 23px;
	background-color:#eee;
	background-image:url(../img/deepnav_blt.gif);
	background-position:7px center;
	background-repeat: no-repeat;
}
.deep-nav li li a {
	padding-left:43px;
	background-position:27px center;
	background-color:#F4F4F4;
}
.deep-nav li.active a {
	background-color:#ccc
}
.deep-nav li.active li a {
	background-color:#F4F4F4
}
.deep-nav li li.active a {
	background-color:#ccc
}
#main .deep-nav li a:hover {
	background-color:#aaa;
	color:#fff
}
/*============================ MAIN CONTENT =========================*/

#main p#breadcrumbs {
	font-size:1.0em;
	text-align:right;
	margin:4px 0 0 0;
}
#main-content p {
	font-size:1.2em;
	margin:1.0em 0 1.5em 0
}
#main-content li {
	font-size:1.2em
}
#main-content td, #main-content th {
	font-size:1.1em
}
#main-content ul, #main-content ol {
	margin:1em 0 1em 30px
}
#main-content li li, #main-content li p {
	font-size:12px
}
#main-content ul li, #sub-panels ul li, #news-events ul li {
	list-style:square;
}
#main #main-content .caption {
	text-align:center;
	font-style:italic;
	color:#666;
	font-size:1.1em;
	margin:-10px 0 5px 0
}
#main #main-content .rightquote, #main #main-content blockquote p {
	font:italic 1.4em/1.2 Georgia, "Times New Roman", Times, serif;
	color:#666;
}
#main-content .highlight {
	padding:1em;
	font-style:italic;
	line-height:1.3
}
#main-content address {
	font-size:1.2em;
	font-style:normal
}
/*Home page */
#main-panels p, .sub-panels p, #main-panels li, #sub-panels li {
	font-size:1.1em
}
#home .sub-panel p, #sub-panels li {
	font-size:1.1em;
}
#news-events #upcoming-events li {
	list-style:none;
	line-height:1.3
}
#news-events p {
	margin:0.1em 1em 0 0
}
#sub-panels ul li {
	margin-left:15px
}
#sub-panels {
	line-height:1.3
}
#main-panels p {
	line-height:1.3
}
#gardens-panel p {
	color:#fff;
}
#gardens-panel-content .gardenp p {
	font-size:1.1em
}
#upcoming-events li {
	color:#666
}
#older-news {
	margin:0em 30px 1.9em 30px;
	line-height:1.3
}
/* Section highlight panels*/
#support-us #main-content .highlight {
	background:#B1DAF6 url(../img/supportpanel_tl.gif) left top no-repeat;
	color:#005991;
}
#about-us #main-content .highlight {
	background:#D4E2CA url(../img/aboutpanel_tl.gif) left top no-repeat;
	color:#476532;
}
#whats-on #main-content .highlight {
	background:#E9B788 url(../img/whatsonpanel_tl.gif) left top no-repeat;
	color:#D36805;
}
#science #main-content .highlight {
	background:#EBC2BE url(../img/sciencepanel_tl.gif) left top no-repeat;
	color:#BA2727;
}
#education #main-content .highlight {
	background:#E7BBEE url(../img/educationpanel_tl.gif) left top no-repeat;
	color:#9F48A3;
}
#the-gardens #main-content .highlight {
	background:#DCE5AA url(../img/gardenspanel_tl.gif) left top no-repeat;
	color:#557815;
}
/* News */
#main-content p.post-info {
	margin:0;
	font-size:1.1em;
	font-style:italic;
	color:#666
}
#main-content .reflect_archive .reflect_month {
	font-size:14px
}
#main-content .reflect_archive .reflect_year {
	margin-left:0;
	list-style:none;
}
#main-content .reflect_archive li {
	font-size:12px;
	margin-left:15px;
	list-style:square
}
/* Events */
#main-content dl#event-details dt {
	font-size:1.2em;
	font-weight:bold;
}
#main-content dl#event-details dd {
	font-size:1.2em;
}
#main-content p.event-date {
	font-weight:bold;
	text-transform:uppercase;
	color:#000;
	padding:2px 0 2px 0;
	border:1px solid #000;
	border-width:1px 0 1px 0;
	margin:10px 0 0 0;
	width:393px
}
/* MaxiGallery */
#main #main-content .thumbs p {
	margin:auto;
	font-size:0.9em;
	line-height:1.2;
	text-align:center;
	color:#666;
	overflow:visible
}
/* Site Map List */
.sitemap-list {
	margin:4px 0 4px 0
}
#main-content .sitemap-list ul {
	margin:1em 0 1em 10px
}
#main-content .sitemap-list li {
	font-size:12px;
	margin-left:5px;
	list-style:square
}
.sitemap-list li li {
	list-style:disc;
	margin-left:10px
}
.sitemap-list li li li {
	list-style:circle;
}
.errors {
	font-size:1.2em;
	color:#e00;
	font-weight:bold;
	margin:15px 0 0 0
} /* Form errors */
.req {
	color:#e00;
	font-weight:bold;
}
.ajaxSearch_highlight {
	background:#FDFF7B
} /* Ajax Search highlighting */
/* garden google maps */
#google-map p {
	font-size:11px;
}
/*Contact page*/
#cont-signup p {
	padding:8px 8px 0px 8px;
	margin:0;
	line-height:1.3;
	color:#424242;
	font-size:1.1em
}
/*============================ SUB CONTENT =========================*/

#support-us .cont-box {
	color:#005991
}
.cont-box li {
	font-size:1.1em;
	margin:4px 8px 4px 25px;
	line-height:1.2;
	list-style:square
}
.cont-box p {
	padding:8px 8px 5px 8px;
	line-height:1.3;
	color:#424242
}
/*============================ SECTION LANDING PAGES =========================*/

#intropanel p {
	padding:1px 15px 15px 15px;
	margin:0;
	color:#fff;
	font-size:1.1em;
	line-height:1.4
}
#main-content #sectionpanel p {
	margin:0 0px 10px 0;
	padding:0 15px 0 15px;
	font-size:1.1em;
	line-height:1.4
}
#main-content #sectionpanel li {
	font-size:1.1em;
}
#main-content .bottompanel p {
	padding:0;
	margin:0 0 10px 0;
	font-size:1.1em;
	line-height:1.4
}
